<nav class="navbar navbar-expand navbar-dark blue-bg">
    <a class="navbar-brand" href="index.html" *ngIf="!this.showSearchBar">
        <img src="assets/images/android-chrome-192x192.png" class="logo" /> </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
    <span class="navbar-toggler-icon"></span>
  </button> -->
    <!-- <div class="navbar-collapse collapse" id="navbar5"> -->

    <mat-form-field class="mx-2 my-auto d-inline w-75" *ngIf="this.showSearchBar">
        <div class="input-group">
            <input matInput matGoogleMapsAutocomplete (onLocationSelected)="setDestinationCoordinates($event)"
                [(ngModel)]="inputMessage" type="text" class="form-control search-bar">
        </div>
    </mat-form-field>

    <ul class="navbar-nav nav-adj" *ngIf="!loggedIn">
        <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" href="/#section-home">Home</a></li>
        <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" href="/#section-pricing">Pricing</a></li>
        <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" href="/#section-features">Features</a></li>
        <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" routerLink="register"
                routerLinkActive="active">Register</a></li>
    </ul>
    <ul class="navbar-nav mid" *ngIf="loggedIn">

        <li class="nav-item" *ngIf="loggedIn && menu === 'profile'">
            <a class="nav-link" [routerLink]="" (click)="returnToMain()">
                <i class="material-icons">
                    arrow_back
                </i>
            </a>
        </li>
        <li class="nav-item" *ngIf="links.getOpen && menu === 'main'"><a class="nav-link" [routerLink]=""
                (click)="executeAction('getOpen')">Orders</a></li>
        <li class="nav-item" *ngIf="links.cancel && menu === 'main'">
            <a class="nav-link" [routerLink]="" (click)="executeAction('cancel')">
                <i class="material-icons">
                    highlight_off
                </i>
            </a>
        </li>
        <!-- <li class="nav-item" *ngIf="links.accept && menu === 'main'"><a class="nav-link" [routerLink]=""
          (click)="executeAction('accept')">Accept</a></li> -->
        <li class="nav-item" *ngIf="links.start && menu === 'main'"><a class="nav-link" [routerLink]=""
                (click)="executeAction('start')">Start</a></li>
        <li class="nav-item" *ngIf="links.terminate && menu === 'main'">
            <a class="nav-link" [routerLink]="" (click)="executeAction('terminate')">
                <i class="material-icons">
                    highlight_off
                </i>
            </a>
        </li>
        <li class="nav-item" *ngIf="links.complete && menu === 'main'">
            <a class="nav-link" [routerLink]="" (click)="executeAction('complete')">
                <i class="material-icons">
                    check_circle_outline
                </i> </a>
        </li>
        <li class="nav-item" *ngIf="links.payment && menu === 'main'"><a class="nav-link" [routerLink]=""
                (click)="executeAction('payment')"><i class="material-icons">
                    euro_symbol
                </i></a></li>
        <li class="nav-item" *ngIf="links.create && menu === 'main'"><a class="nav-link" [routerLink]=""
                (click)="executeAction('create')">Order</a> </li>
        <li class="nav-item" *ngIf="loggedIn && menu === 'main'">
            <a class="nav-link" [routerLink]="" (click)="openProfilePage()">
                <i class="material-icons">
                    account_box
                </i>
                <!-- <img src="assets/images/ico.png" class="profile-icon" /> -->
            </a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
            <a class="nav-link" (click)="logout()" href="">
                <i class="material-icons">
                    exit_to_app
                </i>
                <!-- <img src="assets/images/logout.png" class="profile-icon" /> -->
            </a>
        </li>

    </ul>

    <!-- </div> -->
</nav>