<agm-map style="height: 89%" [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon">
  </agm-marker>
  <div *ngIf="navigationLinks">
    <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction>
  </div>
</agm-map>