<form name="form" class="" (ngSubmit)="onSubmitLostItem()" [hidden]="submittedLostItem" #f="ngForm" novalidate>
    <div class="form-group">
        <label for="lostItem" *ngIf="model.passenger">Describe the item you forgot in the taxi?</label>
        <label for="lostItem" *ngIf="model.driver">Describe the item you found in the taxi?</label>
        <input type="text" class="form-control pb_height-50 reverse" name="lostItem" [(ngModel)]="lostItem.description" required />
    </div>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <input matInput [min]="minManDate" [max]="maxManDate" [matDatepicker]="manDate" placeholder="Date of your ride" name="dateOfRide" [(ngModel)]="lostItem.date" #dateOfRide="ngModel" required />
            <mat-datepicker-toggle matSuffix [for]="manDate"></mat-datepicker-toggle>
            <mat-datepicker #manDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block pb_btn-pill btn-shadow-blue">Save</button>
    </div>
</form>
<div class="container success-cont" [hidden]="!submittedLostItem">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 relative align-self-center">
            <img src="assets/images/green.png" class="success-img success-mobile-img" />
            <h3 class="mb-4 mt-0 text-center">You have submitted an item!</h3>
        </div>
    </div>
</div>