/* * {
  margin: 0;
  padding: 0;
} */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  margin: 0;
  padding: 0;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.star-rating {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 1%;
}

.summary {
  margin-left: 10px;
  margin-bottom: 0px;
}

.summary-image {
  margin-bottom: 30px;
  width: 300px
}

.star-rating-center {
  text-align: center
}

.notif-button {
  margin: auto;
}
