<div *ngIf="type==='info'">
  <h1 mat-dialog-title>{{ messageTitle }}</h1>
  <div mat-dialog-content>
    <p>{{ messageText }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClickClose()" class="notif-button">OK</button>
  </div>
</div>

<div *ngIf="type==='accept'">
  <h1 mat-dialog-title>
    <img class="card-img-top profile-img" src="{{imageUrl}}" alt="Card image" *ngIf="imageUrl">
    {{ messageTitle }}</h1>
  <div mat-dialog-content>
    <p>{{ messageText }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClickClose()" class="notif-button">OK</button>
  </div>
</div>

<div *ngIf="type==='confirmation'">
  <h1 mat-dialog-title>{{ messageTitle }}</h1>
  <div mat-dialog-content>
    <p>{{ messageText }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClickConfirm()" cdkFocusInitial class="notif-button">Confirm</button>
    <button mat-button (click)="onClickClose()" class="notif-button">No Thanks</button>
  </div>
</div>

<div *ngIf="type==='error'">
  <h1 mat-dialog-title>{{ messageTitle }}</h1>
  <div mat-dialog-actions>
    <button mat-button (click)="onClickClose()" class="notif-button">OK</button>
  </div>
</div>

<div *ngIf="type==='all orders'">
  <h1 mat-dialog-title> Currently open orders </h1>
  <mat-action-list>
    <a mat-list-item (click)="acceptOrder(order)" *ngFor="let order of orders">Client waiting at
      {{ order.fromName }}</a>
  </mat-action-list>
</div>

<div class="card" *ngIf="type==='summary'">
  <img src="assets/images/taxi.JPG" class="card-img-top summary-image" />
  <br>
  <mat-action-list>
    <p class="summary" *ngIf="order.date">Date: {{ order.date.substring(0,10)}}</p>
    <p class="summary" *ngIf="order.fromName">From: {{ order.fromName }}</p>
    <p class="summary" *ngIf="order.whereName">Where: {{ order.whereName }}</p>
    <p class="summary" *ngIf="order.status">Status: {{ order.status }}</p>
    <p class="summary" *ngIf="order.time">Time: {{ order.time/1000 }}s</p>
    <p class="summary" *ngIf="order.rating">Feedback: {{ rating[order.rating] }}</p>
    <p class="summary" *ngIf="order.distance">Distance: {{ (order.distance).toFixed(2) }}km</p>
    <p class="summary" *ngIf="order.cost">Cost: {{ (order.cost).toFixed(2) }}EUR</p>
  </mat-action-list>
  <br>
  <button mat-button (click)="onClickClose()" class="notif-button" style="margin-top: 10px">OK</button>
</div>




<div class="card" *ngIf="type==='summary-passenger'">
  <img src="assets/images/taxi.JPG" class="card-img-top summary-image" />
  <br>
  <mat-action-list>
    <p class="summary" *ngIf="order.date">Date: {{ order.date.substring(0,10)}}</p>
    <p class="summary" *ngIf="order.fromName">From: {{ order.fromName }}</p>
    <p class="summary" *ngIf="order.whereName">Where: {{ order.whereName }}</p>
    <p class="summary" *ngIf="order.status">Status: {{ order.status }}</p>
    <p class="summary" *ngIf="order.time">Time: {{ order.time/1000 }}s</p>
    <p class="summary" *ngIf="order.rating">Feedback: {{ rating[order.rating] }}</p>
    <p class="summary" *ngIf="order.distance">Distance: {{ (order.distance).toFixed(2) }}km</p>
    <p class="summary" *ngIf="order.cost">Cost: {{ (order.cost).toFixed(2) }}EUR</p>
  </mat-action-list>
  <br>

  <div class="star-rating-center">
    <h2 style="margin-bottom: 30px">
      Rate your ride!
    </h2>
    <div class="rate star-rating">
      <input type="radio" id="star5" name="rate" value="5" (click)="onSetRating(5)" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" (click)="onSetRating(4)" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" (click)="onSetRating(3)" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" (click)="onSetRating(2)" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" (click)="onSetRating(1)" />
      <label for="star1" title="text">1 star</label>
    </div>
    <br>
  </div>

</div>



<!-- <div *ngIf="type==='summary-passenger'"> -->
<!-- <h1 mat-dialog-title> Here is a summary of your ride </!-->
<!-- <mat-action-list>
    <li>From: {{ order.fromName }}</li>
    <li>Where: {{ order.whereName }}</li>
    <li>Status: {{ order.status }}</li>
    <li>Time: {{ order.time/1000 }}</li>
    <li>Distance: {{ (order.distance).toFixed(2) }}</li>
    <li>Cost: {{ (order.cost).toFixed(2) }}</li>
  </mat-action-list> -->

<!-- <br> -->
<!-- <div class="star-rating-center">
    <h2>
      Rate your ride!
    </h2>
    <div class="rate star-rating">
      <input type="radio" id="star5" name="rate" value="5" (click)="onSetRating(5)" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" (click)="onSetRating(4)" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" (click)="onSetRating(3)" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" (click)="onSetRating(2)" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" (click)="onSetRating(1)" />
      <label for="star1" title="text">1 star</label>
    </div>
    <br>
  </div>
  <br>
</div> -->
