<div [hidden]="submitted">
    <section
        class="pb_xl_py_cover overflow-hidden bg-light pb_slant-white pb_gradient_v1 cover-bg-opacity-4 uber-bg mobile"
        id="section-home">
        <div class="container">
            <div class="row align-items-center justify-content-center ">
                <div class="col-md-6">
                    <h2 class="heading mb-3">Taxipy</h2>
                    <div class="sub-heading">
                        <p class="mb-4">The smartest way to move around in your city!</p>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5 relative align-self-center">
                    <form class="bg-white rounded pb_form_v1" (ngSubmit)="onSubmit()">
                        <h2 class="mb-4 mt-0 text-center">Login</h2>
                        <div class="form-group">
                            <input type="text" class="form-control pb_height-50 reverse" placeholder="User name"
                                id="name" [(ngModel)]="user.username" name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control pb_height-50 reverse" placeholder="Password"
                                id="password" [(ngModel)]="user.password" name="password">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue"
                                value=">">
                        </div>
                        <div *ngIf="error" class="server-error form-group">{{error}}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="pb_section pb_slant-light" id="section-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <img src="assets/images/phone_5.png" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-lg-8 pl-md-5 pl-sm-0">
                    <div class="row">
                        <div class="col">
                            <h2>Taxipy Features</h2>
                            <p class="pb_font-20">For clients</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="media pb_feature-v2 text-left mb-1 mt-5">
                                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i
                                        class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
                                <div class="media-body">
                                    <h3 class="mt-2 mb-2 heading">Affordable and transparent rates</h3>
                                    <p class="text-sans-serif pb_font-16">We guarantee the lowest price on the market
                                    </p>
                                </div>
                            </div>
                            <div class="media pb_feature-v2 text-left mb-1 mt-5">
                                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i
                                        class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                                <div class="media-body">
                                    <h3 class="mt-2 mb-2 heading">Payment by cash or card</h3>
                                    <p class="text-sans-serif pb_font-16">Pay be card, cash, bitcoins, write a check, or
                                        try to barter with the driver</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="media pb_feature-v2 text-left mb-1 mt-5">
                                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i
                                        class="ion-ios-speedometer-outline pb_icon-gradient"></i></div>
                                <div class="media-body">
                                    <h3 class="mt-2 mb-2 heading">Smart app with hints</h3>
                                    <p class="text-sans-serif pb_font-16">Our app is so smart, in fact it is much
                                        smarter that many people around
                                    </p>
                                </div>
                            </div>
                            <div class="media pb_feature-v2 text-left mb-1 mt-5">
                                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i
                                        class="ion-ios-color-filter-outline  pb_icon-gradient"></i></div>
                                <div class="media-body">
                                    <h3 class="mt-2 mb-2 heading">Availability</h3>
                                    <p class="text-sans-serif pb_font-16">We have thousands of drivers waiting for you
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb_section bg-light pb_slant-white" id="section-pricing">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-6 text-center mb-5">
                    <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2">
                        <strong>Pricing</strong></h5>
                    <h2>Choose Your Plans</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="pb_pricing_v1 p-5 border text-center bg-white">
                        <h3>Basic</h3>
                        <span class="price"><sup>€</sup>0,19<span>km</span></span>
                        <p class="pb_font-15">Economy - for everyday rides, affordable option for everyone</p>
                        <p class="mb-0"><a href="#" role="button" class="btn btn-secondary">Get started</a></p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pb_pricing_v1 p-5 border border-primary text-center bg-white">
                        <h3>Business</h3>
                        <span class="price"><sup>€</sup>0,39<span>km</span></span>
                        <p class="pb_font-15">Comfort - enjoy the ride and feel the comfort of a new car (cars from 2013
                            y.)</p>
                        <p class="mb-0"><a href="#" role="button" class="btn btn-primary btn-shadow-blue">Get
                                started</a></p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pb_pricing_v1 p-5 border text-center bg-white">
                        <h3>Unlimited</h3>
                        <span class="price"><sup>€</sup>0,99<span>km</span></span>
                        <p class="pb_font-15">Premium - only luxury, premium cars, drinks and snacks, feel like a king,
                            bro</p>
                        <p class="mb-0"><a href="#" role="button" class="btn btn-secondary">Get started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container success-cont" [hidden]="!submitted">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 relative align-self-center success-mobile-padding">
            <img src="assets/images/green.png" class="success-img success-mobile-img" />
            <h3 class="mb-4 mt-0 text-center">You have successfully logged in!</h3>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<footer class="pb_footer bg-white" role="contentinfo">
    <div class="container">
        <!-- <div class="row text-center">
      <div class="col">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="pb_font-14"> 2019. All Rights Reserved. <br></p>
      </div>
    </div> -->
    </div>
</footer>