<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <div class="card" *ngIf="model.driver">
    <div class="card-header" role="tab" id="headingZero">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseZero" aria-expanded="true"
        aria-controls="collapseZero">
        <h5 class="mb-0">
          Add your profile picture
        </h5>
      </a>
    </div>
    <div id="collapseZero" class="collapse" role="tabpanel" aria-labelledby="headingZero" data-parent="#accordionEx">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="profile-img-layout">
              <img class="card-img-top profile-img-change" src="{{imageUrl}}" alt="Profile picture">
            </div>
          </div>
          <div class="col-sm-3">
            <h4 class="card-title">{{model.firstname}} {{model.lastname}}</h4>
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            <button class="btn btn-primary btn-block pb_btn-pill btn-shadow-blue" (click)="fileInput.click()">Select
              File</button>
            <button class="btn btn-primary btn-block pb_btn-pill btn-shadow-blue" (click)="onUpload()">Upload</button>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" class="collapsed" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          Modify user profile
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
      data-parent="#accordionEx">
      <div class="card-body" [hidden]="submitted">

        <form name="form" class="" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="container-fluid">
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="phoneNumber">Phone number</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="phoneNumber"
                    value="model.phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" pattern="^\d*$" required />
                  <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
                    <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
                    <div *ngIf="phoneNumber.errors.pattern">Only numbers are allowed</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="model.passenger">
                  <label for="creditCardNumber">Credit card number</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="creditCardNumber"
                    value="model.passenger.creditCardNumber" [(ngModel)]="model.passenger.creditCardNumber"
                    #creditCardNumber="ngModel" pattern="^\d{16}$"
                    [ngClass]="{ 'is-invalid': f.submitted && creditCardNumber.invalid }" required />
                  <div *ngIf="f.submitted && creditCardNumber.invalid" class="invalid-feedback">
                    <div *ngIf="creditCardNumber.errors.required">Credit card number is required</div>
                    <div *ngIf="creditCardNumber.errors.pattern">Credit card number should consist from 16
                      numbers</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="model.driver">
                  <label for="carPlateNumber">Car plate number</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="carPlateNumber"
                    [(ngModel)]="model.driver.carPlateNumber" #carPlateNumber="ngModel"
                    value="model.driver.carPlateNumber"
                    [ngClass]="{ 'is-invalid': f.submitted && carPlateNumber.invalid }" pattern="^.{6}$" required />
                  <div *ngIf="f.submitted && carPlateNumber.invalid" class="invalid-feedback">
                    <div *ngIf="carPlateNumber.errors.required">Car plate number is required</div>
                    <div *ngIf="carPlateNumber.errors.pattern">Car plate number should contain 6 numbers or
                      letters
                    </div>
                  </div>
                </div>

                <div class="form-group" *ngIf="model.driver">
                  <label for="carModel">Car model</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="carModel"
                    [(ngModel)]="model.driver.carModel" value="model.driver.carModel" #carModel="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && carModel.invalid }" required />
                  <div *ngIf="f.submitted && carModel.invalid" class="invalid-feedback">
                    <div *ngIf="carModel.errors.required">Car model needs to be specified</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="model.passenger">
                  <label for="country">Country</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="country"
                    [(ngModel)]="model.passenger.country" value="model.passenger.country" #country="ngModel"
                    placeholder="Estonia" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required />
                  <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                    <div *ngIf="country.errors.required">Country information is is required</div>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="email" [(ngModel)]="model.email"
                    value="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                    required email />
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="model.driver">
                  <label for="licenseNumber">Driving License document number</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="licenseNumber"
                    [(ngModel)]="model.driver.licenseNumber" #licenseNumber="ngModel" value="model.driver.licenseNumber"
                    [ngClass]="{ 'is-invalid': f.submitted && licenseNumber.invalid }" required />
                  <div *ngIf="f.submitted && licenseNumber.invalid" class="invalid-feedback">
                    <div *ngIf="licenseNumber.errors.required">Driving license document number is required</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="model.passenger">
                  <label for="ccv">CCV</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="ccv"
                    [(ngModel)]="model.passenger.ccv" value="model.passenger.ccv" #ccv="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && ccv.invalid }" pattern="^\d{3}$" required />
                  <div *ngIf="f.submitted && ccv.invalid" class="invalid-feedback">
                    <div *ngIf="ccv.errors.required">CCV is required</div>
                    <div *ngIf="ccv.errors.pattern">CCV should consist from 3 numbers</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control pb_height-50 reverse" name="password"
                    [(ngModel)]="model.password" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                  <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group" *ngIf="model.driver">
                  <label for="carColor">Car color</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="carColor"
                    [(ngModel)]="model.driver.carColor" value="model.driver.carColor" #carColor="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && carColor.invalid }" required />
                  <div *ngIf="f.submitted && carColor.invalid" class="invalid-feedback">
                    <div *ngIf="carColor.errors.required">Car color needs to be specified</div>
                  </div>
                </div>
                <div class="form-group" *ngIf="model.driver">
                  <label for="amountOfSeats">Amount of sits</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="amountOfSeats"
                    [(ngModel)]="model.driver.amountOfSeats" #amountOfSeats="ngModel" value="model.driver.amountOfSeats"
                    [ngClass]="{ 'is-invalid': f.submitted && amountOfSeats.invalid }" required pattern="^\d{1}" />
                  <div *ngIf="f.submitted && amountOfSeats.invalid" class="invalid-feedback">
                    <div *ngIf="amountOfSeats.errors.required">Amount of sits needs to be specified</div>
                    <div *ngIf="amountOfSeats.errors.pattern">Amount of sits should be a number from 1 to 9
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="model.passenger">
                  <label for="location">City</label>
                  <input type="text" class="form-control pb_height-50 reverse" name="location"
                    [(ngModel)]="model.passenger.location" value="model.passenger.location" #location="ngModel"
                    placeholder="Tallinn" [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" required />
                  <div *ngIf="f.submitted && location.invalid" class="invalid-feedback">
                    <div *ngIf="location.errors.required">Location information is required</div>
                  </div>
                </div>
                <div class="form-group date-pick" *ngIf="model.driver">
                  <mat-form-field class="example-full-width">
                    <input matInput [min]="minManDate" [max]="maxManDate" [matDatepicker]="manDate"
                      placeholder="Manufacturing year" name="carManufacturingYear"
                      [(ngModel)]="model.driver.carManufacturingYear" #carManufacturingYear="ngModel" required
                      value="model.driver.carManufacturingYear" />
                    <mat-datepicker-toggle matSuffix [for]="manDate"></mat-datepicker-toggle>
                    <mat-datepicker #manDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group date-pick" *ngIf="model.passenger">
                  <mat-form-field class="example-full-width">
                    <input matInput [min]="minExpirationDate" [max]="maxExpirationDate" [matDatepicker]="expiration"
                      placeholder="Credit card expiration date" name="expirationDate"
                      [(ngModel)]="model.passenger.expirationDate" value="model.passenger.expirationDate"
                      #expirationDate="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="expiration"></mat-datepicker-toggle>
                    <mat-datepicker #expiration></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="error" class="server-error form-group">{{error}}</div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue">Save</button>
          </div>
        </form>
      </div>

      <div class="container success-cont" [hidden]="!submitted">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-3"></div>
          <div class="col-md-6 relative align-self-center">
            <img src="assets/images/green.png" class="success-img">
            <h1 class="mb-4 mt-0 text-center">User profile has been updated!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0">
            Report lost item
          </h5>
        </a>
      </div>
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
        <div class="card-body">
          <app-lostitem></app-lostitem>
        </div>
      </div>
    </div>
    <div class="card">
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingThree3">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
          aria-expanded="false" aria-controls="collapseThree3">
          <h5 class="mb-0">
            History
          </h5>
        </a>
      </div>
      <!-- Card body -->
      <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
        data-parent="#accordionEx">
        <div class="card-body">
          <h1 mat-dialog-title> Your orders history: </h1>
          <mat-action-list>
            <a mat-list-item (click)="openOrderPopup(order)" *ngFor="let order of orders">
              {{order.date.substring(0,10)}}: From {{order.fromName}} to {{order.whereName}}</a>
          </mat-action-list>
        </div>
      </div>
    </div>
  </div>
