@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.success-cont {
    padding-top: 5%;
    padding-bottom: 5%;
}

.success-img {
    padding-bottom: 10%;
    padding-left: 35%;
}

.uber-bg {
    background-image: url(assets/images/uber.jpg);
}

.nav-adj {
    margin: auto;
    padding-bottom: 1%;
}

.logo {
    max-width: 30%;
    max-height: 30%;
}

.date-pick {
    margin-top: 8%;
}

.blue-bg {
    background-color: #209cee;
}

@media only screen and (max-width: 600px) {
    .mobile {
        padding: 0;
        padding-bottom: 5rem;
    }
    .success-mobile-padding {
        padding-top: 12rem;
    }
    .success-mobile-img {
        width: 60%;
        padding-left: 40%;
    }
}