<section style="margin:25px;">
  <div class="container" [hidden]="submitted">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6 relative align-self-center">

        <form name="form" class="bg-white rounded pb_form_v1" (ngSubmit)="f.form.valid && onSubmitRider()" #f="ngForm"
          novalidate>

          <div class="btn-group btn-group-toggle btn-group special" data-toggle="buttons">
            <button class="btn btn-primary" type="radio" name="options" id="option1" autocomplete="off" checked
              (click)="changeToPassengerForm()">Register as
              passenger
            </button>
            <button class="btn btn-secondary" type="radio" name="options" id="option2" autocomplete="off"
              (click)="changeToDriverForm()">Become a driver
            </button>
          </div>
          <br>
          <p *ngIf="typePassenger" class="pb_font-14">Manage your payment options, review trip history, and more.</p>
          <p *ngIf="!typePassenger" class="pb_font-14">Earn extra money driving</p>

          <br>


          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control pb_height-50 reverse" name="firstname" [(ngModel)]="model.firstname"
              #firstname="ngModel" placeholder="John" pattern="^\D{4,}$"
              [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required />
            <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
              <div *ngIf="firstname.errors.required">First Name is required</div>
              <div *ngIf="firstname.errors.pattern">First name should contain at least 4 letters without numbers
              </div>


            </div>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control pb_height-50 reverse" name="lastname" [(ngModel)]="model.lastname"
              #lastname="ngModel" placeholder="Smith" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }"
              pattern="^\D{4,}$" required />
            <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
              <div *ngIf="lastname.errors.required">Last Name is required</div>
              <div *ngIf="lastname.errors.pattern">Last name should be at least 4 letters and no numbers</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control pb_height-50 reverse" name="username" [(ngModel)]="model.username"
              #username="ngModel" placeholder="jsmith" pattern="^\D{4,}$"
              [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
              <div *ngIf="username.errors.required">User name is required</div>
              <div *ngIf="username.errors.pattern">User name should contain at least 4 letters without numbers</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control pb_height-50 reverse" name="email" [(ngModel)]="model.email"
              #email="ngModel" placeholder="johns@gmail.com" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>


          <div *ngIf="typePassenger">

            <div class="form-group">
              <label for="phoneNumber">Phone number</label>
              <input type="text" class="form-control pb_height-50 reverse" name="phoneNumber"
                [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" placeholder="55123456"
                [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" pattern="^\d{6,}$" required />
              <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
                <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
                <div *ngIf="phoneNumber.errors.pattern">Phone number is incorrect</div>
              </div>
            </div>


            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput [min]="minBirthdayDate" [max]="maxBirthdayDate" [matDatepicker]="birthpick"
                  placeholder="Birthday" name="birthDate" [(ngModel)]="model.birthDate" #expirationDate="ngModel"
                  required>
                <mat-datepicker-toggle matSuffix [for]="birthpick"></mat-datepicker-toggle>
                <mat-datepicker #birthpick></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control pb_height-50 reverse" name="country" [(ngModel)]="model.country"
                #country="ngModel" placeholder="Estonia" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }"
                pattern="^\D{4,}$" required />
              <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                <div *ngIf="country.errors.required">Country information is is required</div>
                <div *ngIf="country.errors.pattern">Country should have at least 4 letters</div>
              </div>
            </div>

            <div class="form-group">
              <label for="creditCardNumber">Credit card number</label>
              <input type="text" class="form-control pb_height-50 reverse" name="creditCardNumber"
                [(ngModel)]="model.creditCardNumber" #creditCardNumber="ngModel" placeholder="1234 1234 1234 1234"
                pattern="^\d{16}$" [ngClass]="{ 'is-invalid': f.submitted && creditCardNumber.invalid }" required />
              <div *ngIf="f.submitted && creditCardNumber.invalid" class="invalid-feedback">
                <div *ngIf="creditCardNumber.errors.required">Credit card number is required</div>
                <div *ngIf="creditCardNumber.errors.pattern">Credit card number should consist from 16 numbers</div>
              </div>
            </div>

            <div class="form-group">
              <label for="ccv">CCV</label>
              <input type="text" class="form-control pb_height-50 reverse" name="ccv" [(ngModel)]="model.ccv"
                #ccv="ngModel" value="124" [ngClass]="{ 'is-invalid': f.submitted && ccv.invalid }" placeholder="123"
                pattern="^\d{3}$" required />
              <div *ngIf="f.submitted && ccv.invalid" class="invalid-feedback">
                <div *ngIf="ccv.errors.required">CCV is required</div>
                <div *ngIf="ccv.errors.pattern">CCV should consist from 3 numbers</div>

              </div>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput [min]="minExpirationDate" [max]="maxExpirationDate" [matDatepicker]="expiration"
                  placeholder="Credit card expiration date" name="expirationDate" [(ngModel)]="model.expirationDate"
                  #expirationDate="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="expiration"></mat-datepicker-toggle>
                <mat-datepicker #expiration></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="form-group">
              <label for="location">City</label>
              <input type="text" class="form-control pb_height-50 reverse" name="location" [(ngModel)]="model.location"
                #location="ngModel" placeholder="Tallinn" [ngClass]="{ 'is-invalid': f.submitted && location.invalid }"
                pattern="^\D{4,}$" required />
              <div *ngIf="f.submitted && location.invalid" class="invalid-feedback">
                <div *ngIf="location.errors.required">Location information is required</div>
                <div *ngIf="location.errors.pattern">City should have at least 4 letters</div>

              </div>
            </div>

          </div>





          <div *ngIf="!typePassenger">
            <div class="form-group">
              <label for="phoneNumber">Phone number</label>
              <input type="text" class="form-control pb_height-50 reverse" name="phoneNumber"
                [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" placeholder="55123456"
                [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" pattern="^\d*$" required />
              <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
                <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
                <div *ngIf="phoneNumber.errors.pattern">Only numbers are allowed</div>
              </div>
            </div>

            <div class="form-group">
              <label for="licenseNumber">Driving License document number</label>
              <input type="text" class="form-control pb_height-50 reverse" name="licenseNumber"
                [(ngModel)]="model.licenseNumber" #licenseNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && licenseNumber.invalid }" required />
              <div *ngIf="f.submitted && licenseNumber.invalid" class="invalid-feedback">
                <div *ngIf="licenseNumber.errors.required">Driving license document number is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="carPlateNumber">Car plate number</label>
              <input type="text" class="form-control pb_height-50 reverse" name="carPlateNumber"
                [(ngModel)]="model.carPlateNumber" #carPlateNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && carPlateNumber.invalid }" pattern="^.{6}$" required />
              <div *ngIf="f.submitted && carPlateNumber.invalid" class="invalid-feedback">
                <div *ngIf="carPlateNumber.errors.required">Car plate number is required</div>
                <div *ngIf="carPlateNumber.errors.pattern">Car plate number should contain 6 numbers or letters
                </div>

              </div>
            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput [min]="minManDate" [max]="maxManDate" [matDatepicker]="manDate"
                  placeholder="Manufacturing year" name="carManufacturingYear" [(ngModel)]="model.carManufacturingYear"
                  #carManufacturingYear="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="manDate"></mat-datepicker-toggle>
                <mat-datepicker #manDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form-group">
              <label for="amountOfSeats">Amount of sits</label>
              <input type="text" class="form-control pb_height-50 reverse" name="amountOfSeats"
                [(ngModel)]="model.amountOfSeats" #amountOfSeats="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && amountOfSeats.invalid }" required pattern="^\d{1}" />
              <div *ngIf="f.submitted && amountOfSeats.invalid" class="invalid-feedback">
                <div *ngIf="amountOfSeats.errors.required">Amount of sits needs to be specified</div>
                <div *ngIf="amountOfSeats.errors.pattern">Amount of sits should be a number from 1 to 9</div>

              </div>
            </div>

            <div class="form-group">
              <label for="carModel">Car model</label>
              <input type="text" class="form-control pb_height-50 reverse" name="carModel" [(ngModel)]="model.carModel"
                #carModel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && carModel.invalid }" required />
              <div *ngIf="f.submitted && carModel.invalid" class="invalid-feedback">
                <div *ngIf="carModel.errors.required">Car model needs to be specified</div>
              </div>
            </div>

            <div class="form-group">
              <label for="carColor">Car color</label>
              <input type="text" class="form-control pb_height-50 reverse" name="carColor" [(ngModel)]="model.carColor"
                #carColor="ngModel" [ngClass]="{ 'is-invalid': f.submitted && carColor.invalid }" required />
              <div *ngIf="f.submitted && carColor.invalid" class="invalid-feedback">
                <div *ngIf="carColor.errors.required">Car color needs to be specified</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control pb_height-50 reverse" name="password"
              [(ngModel)]="model.password" #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" name="check" [(ngModel)]="model.check" #check="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && check.invalid }" required checked> I have read and agree to
            the
            terms of service
            <div *ngIf="f.submitted && check.invalid" class="invalid-feedback">
              <div *ngIf="check.errors.checked">You must agree with terms of service</div>
            </div>
          </div>
          <div *ngIf="error" class="server-error form-group" style="color:red">{{error}}</div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue">Register</button>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="container success-cont" [hidden]="!submitted">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6 relative align-self-center">
        <img src="assets/images/green.png" class="success-img" />
        <h1 class="mb-4 mt-0 text-center">You have successfully registred!</h1>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

</section>